body {
	padding-top: 180px;
	padding-bottom: 75px;
}

.fa-5x {
	font-size: 12em;
}

.navbar-blue {
	background-color: #3498db;
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-for-search {
	margin-top: 20px;
}

.article-nav {
	background-color: white;
	height: 50px;
	margin-top: 90px;
}

#logo {
	margin-left: 50px;
}

.inline-elem {
	display: inline;
}
.fa:hover {
	cursor: pointer;
}
div .jumbotron {
	padding: 15px 10px 15px 10px;
	border-radius: 0px;
}

.panel {
	margin-top: 20px;
}
